<div class="navbar navbar-inverse navbar-fixed-top" ng-controller="NavbarCtrl">
	<div class="container">
	    <div class="navbar-header">
	        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	        </button>
	        <a class="navbar-brand" href="#">Markets Demo</a>
	    </div>

	    <div class="navbar-collapse collapse">
	        <ul class="nav navbar-nav">
	            <li ng-class="{ active: isActive('/')}"><a href="/">Home</a></li>
	            <li ng-class="{ active: isActive('/markets')}"><a href="/#markets">Markets</a></li>
	        </ul>
	     </div>
	 </div>
</div>