<div class="container js-markets">
    <h1>Markets</h1>
    
    <p><a class="btn btn-xs btn-primary js-addMarket" {{ action "openModal" "market-modal" "Create Market" }} href="#">Add Market</a></p>
    
    {{ outlet }}
    
    <p>{{ brm-fancy-button action="fancyBtnClick" btnTitle="Click here" }}</p>
</div>