<thead>
    <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Currency</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th></th>
    </tr>
</thead>
<tbody>
	<tr ng-repeat="market in markets">
		<td>{{ market.name }}</td>
		<td>{{ locations[market.location].name }}</td>
		<td>{{ currencies[market.currency].name }}</td>
		<td>{{ market.start_date }}</td>
		<td>{{ market.end_date }}</td>
		<td>
			<a class="btn btn-default btn-xs" ng-click="edit(market.id)"><span class="glyphicon glyphicon-edit"></span></a> <a class="btn btn-default btn-xs" ng-click="delete(market.id)"><span class="glyphicon glyphicon-remove"></span></a>
		</td>
	</tr>
</tbody>